

*~

.fuse_hidden*

.directory

.Trash-*

.nfs*

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

pids
*.pid
*.seed
*.pid.lock

lib-cov

coverage
*.lcov

.nyc_output

.grunt

bower_components

.lock-wscript

build/Release

node_modules/
jspm_packages/

typings/

*.tsbuildinfo

.npm

.eslintcache

.stylelintcache

.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

.node_repl_history

*.tgz

.yarn-integrity

.env
.env.test
.env*.local

.cache
.parcel-cache

.next

.nuxt
dist

.out
.storybook-out
storybook-static

dist/

.cache/

.vuepress/dist

.serverless/

.fusebox/

.dynamodb/

.tern-port

.vscode-test

tmp/
temp/

.DS_Store
.AppleDouble
.LSOverride

Icon


._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


**/.aws-sam

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

*.stackdump

[Dd]esktop.ini

$RECYCLE.BIN/

*.cab
*.msi
*.msix
*.msm
*.msp

*.lnk





.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea
.vscode

.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

.idea/**/gradle.xml
.idea/**/libraries

cmake-build-debug/

.idea/**/mongoSettings.xml

*.iws


/out/

.idea_modules/

atlassian-ide-plugin.xml

.idea/replstate.xml

/.rakeTasks

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties


*.iml

.idea/sonarlint

*~

.fuse_hidden*

.directory

.Trash-*

.nfs*

*.DS_Store
.AppleDouble
.LSOverride

Icon

._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

pids
*.pid
*.seed
*.pid.lock

lib-cov

coverage

.nyc_output

.grunt

bower_components

.lock-wscript

build/Release

node_modules/
jspm_packages/

typings/

.npm

.eslintcache

.node_repl_history

*.tgz

!tests/functional/testdata/lib/utils/test.tgz
!tests/functional/testdata/lib/utils/path_reversal_uxix.tgz
!tests/functional/testdata/lib/utils/path_reversal_win.tgz

.yarn-integrity

.env
























__pycache__/
*.py[cod]
*$py.class

*.so

.Python
/build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

*.mo
*.pot

instance/
.webassets-cache

.scrapy

docs/_build/


.ipynb_checkpoints

.python-version

pyrightconfig.json

celerybeat-schedule.*

*.sage.py

build.toml
build_dir/
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
venv-update-reproducible-requirements/

env.*/
venv.*/
.env.*/
.venv.*/

.spyderproject
.spyproject

.ropeproject

/site

.mypy_cache/

.ruff_cache/

.aws-sam/

*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

*.sublime-workspace


sftp-config.json

Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
oscrypto-ca-bundle.crt
bh_unicode_properties.cache

GitHub.sublime-settings

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

.theia

Thumbs.db
ehthumbs.db
ehthumbs_vista.db

Desktop.ini

$RECYCLE.BIN/

*.cab
*.msi
*.msm
*.msp

*.lnk

cov.xml
coverage.xml

tests/integration/buildcmd/scratch
tests/integration/testdata/buildcmd/Dotnet6/bin
tests/integration/testdata/buildcmd/Dotnet6/obj
tests/integration/testdata/buildcmd/Dotnet7/bin
tests/integration/testdata/buildcmd/Dotnet7/obj
tests/integration/testdata/invoke/credential_tests/inprocess/dotnet/STS/obj
tests/integration/testdata/sync/code/after/dotnet_function/src/HelloWorld/obj/
tests/integration/testdata/sync/code/before/dotnet_function/src/HelloWorld/obj/


.build
